{% extends 'main/general.html' %}
{% load crispy_forms_tags %}
{% block title %}Главная страница{% endblock  %}

{% block  body %}
{% load static %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Добро пожаловать!</h1>
        <p>Здесь вы можете просматривать информацию о компании и каталог услуг.</p>
        <a href="{% url 'menu:menu' %}" class="btn btn-primary my-2">Каталог услуг</a>
      </div>
    </div>
  </section>
{% endblock %}