{% extends 'main/general.html' %}
{% load crispy_forms_tags %}
{% block title %}Меню{% endblock  %}

{% block  body %}
{% load static %}

{% for app in Menu_record %}
<div class="col-12 col-lg-19 m-0 mb-0 p-0 photoPostCard">
    <div class="row align-items-center">
        <div class="col-12 col-md-0">
            <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: auto;">
                <div class="col-sm-6 col-lg-4 mb-4" style="margin:17px auto 7px;">
                    <div class="card">
                        <img src="{{ app.image.url }}" alt="Изображение" class="card-img-top" style="; object-fit: contain; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ app.title }}</h5>
                            <p class="card-text">{{ app.content }}</p>
                            <h6 class="fw-bold p-2">Цена: <span class="fw-normal">{{ app.price }}</span></h6>
                            <a href="{% url 'contact' %}" class="btn btn-primary my-2">Связаться с нами</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
    <p>Каталог не добавлен!</p>
{% endfor %}

{% endblock %}
